 body{
    background-image : url("media/bg.png");
    background-size : 200px 200px;
    background-repeat : repeat;
    font-size:medium;
    font-weight: bold;
}
h2{
    font : italic bold 30px consolas,serif;
}

ul strong {color : red; font-size: 1.5em;}

img{border-style : groove;
    border-width : 15px; 
    border-color: rgb(255, 200, 35);
    box-shadow: 10px 10px 5px rgb(206, 76, 16);}

table{ border : 1px solid black;border-collapse: collapse;}

thead{background: rgb(235, 188, 132);}

td{
    border:1px solid;
    background-color: white;
    text-align: center;}

td.red{background-color: red;}
